#main {

}

/* 新人礼包 */
.new-user {
  margin-top: 30px;
  height: 370px;
  background: url("../img/new-people-img.png") center;
  text-align: center;
}

.new-user a {
  display: inline-block;
  width: 1100px;
  height: 370px;
}

/* 今日限购的样式 */
.section-header {
  height: 74px;
  padding-top: 25px;
  box-sizing: border-box;
  font-size: 14px;
  color: #999;
  border-top: 1px solid #e9e9e9;
  margin-top: 36px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
}

.header-right a {
  color: #999;
}

.header-left h2 {
  float: left;
  font-size: 22px;
  color: #333;
}

.header-left span {
  float: left;
  margin-top: 10px;
  margin-left: 12px;
}

.header-left .time {
  font-size: 0;
}

.header-left .time i {
  font-size: 14px;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #ff080f;
  color: #fff;
  text-align: center;
  border-radius: 10px;
}

.header-left .time em {
  font-size: 14px;
  margin: 0 2px;
  font-weight: bold;
}

.header-right a {
  position: relative;
  top: 10px;
}

.section.section-header .keyword {
    float: left;
}

.section.section-header .keyword li {
    float: left;
    margin-top: 10px;
    margin-left: 20px;
}

.section.section-header .keyword .hot {
    color: #ff080f;
}

.today-content {

}

.today-right {
  float: right;
}

.today-content .today-item {
  float: left;
  width: 420px;
  height: 190px;
  background-color: #fff;
  box-sizing: border-box;
  border-right: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
}

.today-item img {
  float: left;
}

.today-item .content {
  float: left;
  width: 205px;
  padding-top: 15px;
}

.today-item a:hover {
  text-decoration: underline;
}

.today-item .content .title {
  font-size: 16px;
  font-weight: 700;
}

.today-item .content .desc {
  margin-top: 10px;
}

.today-item .content .desc a {
  color: #999;
}

.today-item .content .price {
  margin-top: 5px;
}

.today-item .content .new-price {
  font-size: 20px;
  font-weight: 700;
  color: #ff080f;
}

.today-item .content .old-price {
  font-size: 15px;
  color: #999;
  text-decoration: line-through;
  margin-left: 8px;
}


.today-item .counter {
  margin-top: 20px;
  height: 38px;
  line-height: 38px;
  position: relative;
}

.today-item .counter > div {
  display: inline-block;
}

.today-item .counter-left {
  font-size: 14px;
  color: #ff1e32;
}

.today-item .counter-right a:hover {
  text-decoration: none;
}


.today-item .counter-right a {
  position: absolute;
  width: 82px;
  height: 38px;
  border: 1px solid #ff1e32;
  border-radius: 36px;
  line-height: 38px;
  text-align: center;
  font-size: 14px;
  color: #ff1e32;
  top: 0;
  right: 0;
}

.today-right img {
  width: 260px;
  height: 380px;
}

/* 热门品牌的样式 */
.brand .brand-content {
  border-top: 1px solid #e9e9e9;
  /* margin-top: -1px; */
}

.brand .content-left {
  float: left;
  height: 354px;
  width: 220px;
}

.brand .content-left img {
  width: 219px;
  height: 219px;
  vertical-align: top;
  margin-top: -1px;
}

.brand .content-left .desc {
  height: 134px;
  background-color: #151515;
  color: #fff;
  text-align: center;
  border-top: 1px solid red;
  position: relative;
}

.brand .content-left .info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.brand .content-left .info div {
  font-size: 20px;
  font-weight: 700;
}

.brand .content-left .info p {
  font-size: 14px;
  margin-top: 5px;
}

.brand .content-right {
  float: left;
  width: 880px;
}

.brand .content-right .item {
  position: relative;
  float: left;
  width: 219px;
  height: 176px;
  background-color: #fff;
  border-right: 1px solid #e9e9e9;
  border-bottom: 1px solid #e9e9e9;
}

.brand .content-right .item:hover .entrance {
    opacity: 1;
}

.brand .content-right .entrance {
    transition: all .3s ease-in;
    opacity: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
}

.brand .content-right .entrance .focus {
  position: absolute;
  width: 52px;
  height: 20px;
  line-height: 20px;
  border: 1px solid #999;
  color: #999;
  border-radius: 20px;
  top: 10px;
  left: 10px;
}

.brand .content-right .entrance p {
    margin: 99px 0 8px;
    color: #999;
}
.brand .content-right .join {
    display: inline-block;
    margin: 0 auto;
    width: 80px;
    height: 36px;
    box-sizing: border-box;
    line-height: 32px;
    color: #ff1e3c;
    background-color: #fff;
    text-decoration: none;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    border-radius: 32px;
    border: 2px solid #ff1e3c;
    font-size: 14px;
}


.brand .content-right .item {
  text-align: center;
}

.brand .content-right .item img {
    transition: all .3s ease-in;
    transform-origin: center 0;
    margin-top: 12px;
}

.brand .content-right .item:hover img {
    transform: scale(.7);
}

.brand .content-right .item:hover .desc {
    opacity: 0;
}

.brand .content-right .item .desc {
    transition: all .1s ease-in;
  font-size: 14px;
  margin-top: 8px;
  font-weight: 700;
}


/* 美妆专区 */
.section .content-left {
  position: relative;
  width: 330px;
  height: 541px;
  overflow: hidden;
  float: left;
}

.section .content-left .keyword {
  position: absolute;
  width: 330px;
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%);
}

.section .content-left .keyword li {
  float: left;
  margin-left: 21px;
  margin-top: 10px;
}

.section .content-left .keyword a {
  display: inline-block;
  width: 82px;
  height: 42px;
  line-height: 42px;
  text-align: center;
  border-radius: 40px;
  background-color: #fff;
  border: 1px solid #eee;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .1);
}

.section .content-center {
  float: left;
  width: 550px;
  border-top: 1px solid #eaeaea;
}

.section .content-center .item {
  float: left;
  width: 274px;
  height: 269px;
  text-align: center;
  background-color: #fff;
  border-bottom: 1px solid #e9e9e9;
  border-right: 1px solid #e9e9e9;
}

.section .content-center .item h3 {
  font-size: 24px;
  font-weight: 400;
  margin-top: 20px;
}

.section .content-center .item p {
  font-size: 14px;
  margin-top: 6px;
}

.section .content-center .item img {
  margin-top: 20px;
}

.section .content-right {
  float: left;
  width: 220px;
  height: 540px;
}

.section .content-right .header {
  height: 59x;
  line-height: 59px;
  border: 1px solid #e9e9e9;
  border-left-width: 0;
  background-color: #fff;
}

.section .content-right .header h3 {
  font-size: 16px;
  margin-left: 15px;
}

.section .content-right .item {
  width: 205px;
  height: 92px;
  padding: 27px 14px 0 0;
  border-bottom: 1px dashed #e9e9e9;
  border-right: 1px solid #e9e9e9;
  background-color: #fff;
}

.section .content-right .item a:hover {
  text-decoration: underline;
}

.section .content-right .last {
  border-bottom-style: solid;
}

.section .content-right .item img {
  float: left;
  margin: 0 5px;
}

.section .content-right .item .price {
  margin-top: 12px;
}

.section .content-right .item .new-price {
  color: #ff1e32;
  font-size: 20px;
  font-weight: 700;
}

.section .content-right .item .old-price {
  font-size: 14px;
  color: #999;
  text-decoration: line-through;
  margin-left: 8px;
}


.section.footer {
    margin-top: 20px;
    border: 1px solid #eaeaea;
    background-color: #fff;
}

.section .top {
    height: 49px;
    border-bottom: 1px solid #e9e9e9;
    line-height: 49px;
}

.section .top h3 {
    font-size: 16px;
    margin-left: 20px;
}

.section .list {
    margin-right: -1px;
    /* width: 1111px; */
}

.section .list .item {
    float: left;
    width: 219px;
    height: 167px;
    line-height: 167px;
    border-right: 1px solid #eaeaea;
    text-align: center;
}

.section .list .item:last-child {
    border-right: none;
}

.section .list .item img {
    vertical-align: middle;
    display: inline-block;
}


/* 猜你喜欢 */
.favorite .header-left span {
    color: #666;
}

.favorite .content {
    margin-right: -20px;
}

.favorite .content .item {
    width: 260px;
    float: left;
    margin-right: 20px;
}

.favorite .content .item > a {
    display: inline-block;
    width: 260px;
    height: 260px;
    background-color: #fff;
    text-align: center;
    line-height: 260px;
}

.favorite .content .item > a > img {
    width: 180px;
    height: 180px;
    vertical-align: middle;
}

.favorite .content .title {
    height: 50px;
    display: -webkit-box;
    padding: 0 30px 0 0;
    box-sizing: border-box;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.favorite .content .title {
    font-size: 16px;
    font-weight: 700;
    /* margin: 8px 0px 0px; */
}

.favorite .content .title a:hover {
    text-decoration: underline;
}

.favorite .content .desc-left {
    float: left;
}

.favorite .content .desc-right {
    float: right;
}

.favorite .content .item .new-price {
    color: #ff1e32;
    font-size: 14px;
}

.favorite .content .item .money {
    font-size: 20px;
    font-weight: 700;
}

.favorite .content .item .old-price {
    text-decoration: line-through;
    margin-left: 10px;
    color: #999;
}

.favorite .content .desc-right {
    vertical-align: bottom;
}

.favorite .content .item .comment {
    color: #999;
    display: inline-block;
    margin-top: 10px;
}

.favorite .content .item .comment:hover {
    text-decoration: underline;
}
